:root {
  --progress-bar-clr: hsl(120, 100%, 50%);
  --black-clr: hsl(0, 0%, 0%);
  --white-clr: hsl(0, 0%, 100%);
  --font-family: "Oswald", sans-serif; /**/
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--black-clr);
  color: var(--white-clr);
  font-family: var(--font-family);
}

h1 {
  margin: 0;
  padding-bottom: 1rem;
  width: fit-content;
  margin-inline: auto;
  margin-bottom: 1rem;
  font-size: clamp(1.6rem, 1.2383rem + 2.243vw, 2.5rem);
}

h3 {
  margin: 0;
  padding-bottom: 0.5rem;
  font-size: clamp(0.8rem, 0.5187rem + 1.7445vw, 1.5rem);
}

.contianer {
  max-width: 1400px;
  height: 100%;
  margin-inline: auto;
  padding-block: 1.2rem;
  display: flex;
  align-items: start;
  justify-content: center;
}

.progressBar-div {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1.8rem;
}

progress::-moz-progress-bar {
  background: var(--progress-bar-clr);
}
progress::-webkit-progress-value {
  background: var(--progress-bar-clr);
}
progress {
  color: var(--progress-bar-clr);
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;

  width: min(50vw, 700px);
  height: 20px;
  border-radius: 5px;
}
